header {
    background-image: url(../../imges/orqa-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 132px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
        align-items: center;
        gap: 30px;
        .item__link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
}

input {
    display: none;
}

.burger {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        position: relative;
    }
    &__title {
        padding-top: 152px;
        margin-bottom: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 88px;
        color: #FFFFFF;
    }
    .header__img1 {
        display: none;
    }
    &__leni {
        position: absolute;
        left: 520px;
        top: 200px;
    }
    &__btn {
        display: block;
        background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
        border-radius: 60px;
        border: none;
        padding: 16px 72px 16px 56px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin-top: 60px;
    }
    &__logo1 {
        position: relative;
        z-index: 2;
        bottom: 33px;
        left: 163px;
    }
    &__logo2 {
        display: block;
        gap: 22px;
    }
}

.logo2 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.hero__container {
    position: relative;
}

.hero {
    position: absolute;
    right: -285px;
    &__img1 {
        display: none;
    }
    &__img2 {
        display: none;
    }
    &__img3 {
        display: none;
    }
}

.nav__minu {
    width: 283px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    header {
        background-image: url(../../imges/planshedbground.jpg);
        background-repeat: no-repeat;
    }
    .nav {
        padding-top: 0px;
    }
    .nav__list {
        display: block;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        position: absolute;
        top: 0px;
        left: 0;
        padding: 20px;
        transform: translateY(-120%);
        transition: .6s ease;
    }
    .burger {
        display: block;
    }
    .header__left {
        .header__img {
            display: none;
        }
        .header__img1 {
            display: block;
        }
    }
    .header__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    .header__leni {
        left: 330px;
        top: 185px;
    }
    .hero {
        &__img {
            display: none;
        }
        &__img1 {
            display: block;
        }
        right: -50px;
        top: 50px;
    }
}

@media screen and (max-width:576px) {
    header {
        background-image: url(../../imges/mobilebground.png);
        background-repeat: no-repeat;
        padding: 20px;
    }
    .nav label {
        display: block;
    }
    .nav__list {
        display: block;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
        position: absolute;
        top: 0px;
        left: 0;
        padding: 20px;
        transform: translateY(-120%);
        transition: .6s ease;
    }
    .nav__list li {
        margin-bottom: 20px;
    }
    .nav__list li a {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    .nav__btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .burger {
        display: block;
    }
    .header__right {
        padding-bottom: 100px;
    }
    .header {
        min-width: 428px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
    }
    .header__left {
        .hero__img2 {
            display: block;
        }
        .header__img {
            display: none;
        }
        &__img1 {
            display: none;
        }
    }
    .header__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }
    .header__leni {
        left: 198px;
        top: 180px;
    }
    .hero {
        &__img3 {
            display: block;
        }
        &__img {
            display: none;
        }
        &__img1 {
            display: none;
        }
        right: -50px;
        top: -80px;
    }
    .burger {
        display: block;
    }
}