.galery1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #0499DD;
    }
    &____leni {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #282828;
    }
}